* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --light-yellow: #fff9db;
  --light-yellow-2: #ffe066;
  --black: #212529;
  --white: #f8f9fa;
}

.avatar {
  background-color: var(--white);
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 3%;
  transform: translateY(-50%);
}
.fixImg {
  object-fit: cover;
  object-position: 100% 0;
  image-resolution: auto;
}
.avatar img {
  padding: 5px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.camera {
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5%;
  border-radius: 50%;
  background-color: var(--white);
}
.flipY180 {
  transform: rotateX(180deg);
}
@media (max-device-width: 560px) {
  .clearfix .floatAdj {
    float: left !important;
    margin-block-start: 100px;
  }
}
